<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="centered">
        <div class="card__detail">

            <h1><%= product.title %></h1>
            <hr>
            <div>
                <img style="width: 50%; display: block; margin: 0 auto;" src="<%= product.imageUrl %>"
                    alt="<%= product.title %>">
            </div>
            <h2>$ <%= product.price %></h2>
            <p><%= product.description %></p>

            <%- include('../includes/add-to-cart.ejs') %>
        </div>

    </main>

    <%- include('../includes/end.ejs') %>